<div class="footer">
  <div class="container-fluid">
<div class="row">

  <div class="col-lg-6 paragraph">
    <p>Copyright © 2021 RemOxy. All Rights Reserved</p>
  </div>
  <div class="col-lg-2 paragraph">
    <p id="contact">Contact Us</p>
  </div>
  <div class="col-lg-2 paragraph">
    <p>Terms of Service</p>
  </div>
  <div class="col-lg-2 paragraph">
    <p>Privacy Policy</p>
  </div>
  </div>
</div>

</div>
</main>
</body>
